html, body {height: 100%;}
body {height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0; padding: 0; background:#eaeaea}
	p {
	padding: 0;
	/* [disabled]margin: 0; */
	font-size: 11pt;
	line-height: 150%;
}
	ul, li {list-style: none; padding: 0; margin: 0;}
	img {border: none;}
	h1, h2, h3, h4, h5 {padding: 0; margin: 0;}
	.left {float: left;}
	.right {float: right;}
	.red {color: #C61B1B;}
	.green {color: #98B22B; }
	.smltxt {font-size: 11px;}
	.hoverimg {background: #ccc; padding: 3px; float: left;}
	.hoverimg:hover {cursor: pointer; background: #e4e4e4;}

	/* Header Elements */
	
	#header {
	width: 100%;
	height: 50px;
	/* [disabled]background: #353535 url(images/bg_header.png) repeat-x bottom; */
}
	.logo {
	float: left;
	padding: 0px 0 0 20px;
}
.topfunction {
	height: 30px;
	float: right;
	margin-top: 12px;
	margin-right: 5px;
	text-align: right;
}
.topfunction img {
	margin-right: 10px;
}				
			
	/* Main Content */
	
	#warp {
	height: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 720px;
} 
		
	.headings {
	padding: 0 20px;
	border: 1px solid #CACACA;
	text-shadow: 1px 1px 1px #333;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	height: 35px;
	background-color: #EAEAEA;
	background-image: url(images/bg_heading_alt.png);
	background-repeat: repeat-x;
	background-position: top;
	color: #EEE;
}

	.headings_red {
	padding: 0 20px;
	border: 1px solid #CACACA;
	text-shadow: 1px 1px 1px #333;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	height: 35px;
	background-color: #EAEAEA;
	background-image: url(images/bg_heading_red.png);
	background-repeat: repeat-x;
	background-position: top;
	color: #EEE;
}
	.headings h2 {
	padding-top: 8px;
	font-size: 16px;
}
	.headings_red h2 {
	padding-top: 8px;
	font-size: 16px;
}
	.contentbox {
	overflow: auto;
	border: 1px solid #fff;
	padding: 15px;
	background: #fff url(images/bg_fade_med.png) repeat-x top;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
}	
			
	/* Table Styles */
	table {border-collapse: collapse;}
	th,td {padding: 8px;}
	tr.alt td {background : url(images/dot.gif) repeat-x bottom;}
	tr.alt:hover td {background:#E1E1E1 url(images/dot.gif) repeat-x bottom; cursor: pointer;}
	th {
	background: #E0E0E0 url(images/bg_th.png) repeat-x top;
	text-shadow: 1px 1px 1px #fff;
	font-size: 15px;
	}	
	table tr td a {
	text-decoration: none;
	font-weight: bold;
	color: #06F;
	}
	table tr td a:hover { color:#F60;}	

	.extrabottom {
	padding: 15px;
	background: url(images/bg_fade_sml.png) repeat-x top;
	border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top: 10px;
	}
		
	/* Input/Form Styles */
	
/*	select {padding: 7px 10px; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px;}
	label {padding-right: 20px; display: block; padding-bottom: 10px;}
	input, textarea {font-family: Arial, Helvetica, sans-serif;}
	.inputbox {border: 1px solid #999; padding: 10px; width: 300px; -moz-border-radius: 3px; border-radius: 3px; margin-bottom: 5px; color: #666; background: url(images/bg_fade_sml.png) repeat-x top;}
	.inputbox:focus {border: 1px solid #666;}
	.errorbox {border: 1px solid #CC0000; background: #FCF0EF url(images/bg_fade_red_sml.png) repeat-x top; color: #CC0000; margin-right: 5px;}
	.errorbox:focus {border: 1px solid #8A0000;}
	.correctbox {border: 1px solid #9DB832; background: #F3F8E0 url(images/bg_fade_green_sml.png) repeat-x top;; color: #9DB832; margin-right: 5px;}
	.correctbox:focus {border: 1px solid #7C9227;}
	.smallbox {width: 150px;}*/

	/* Status Bars */
	
	.status {
	padding: 8px 10px 5px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-shadow: 1px 1px 1px #fff;
	overflow: auto;
	clear: both;
	width: 90%;
	margin: 5px auto 10px auto;
}
	.status img {float: left; padding-right: 5px;}
	.status p {padding: 0; margin: 0;}
	.status p span {font-weight: 700;}
	.status .closestatus {float: right; color: #fff; text-align: center; margin-left: 10px;}
	.status .closestatus a {position: relative; color: #fff; text-decoration: none; padding: 5px; width: 10px; height: 10px; display: block; border-radius: 5px; -moz-border-radius: 5px; line-height: .6em; top: -2px; text-shadow: none;}
	
	.warning {border: 3px solid #BF9900; background: #FEEB9C url(images/bg_fade_yellow_med.png) repeat-x top;}
	.warning span {color: #BF9900;}
	.warning .closestatus a {background: #BF9900;}
	.warning .closestatus a:hover {background: #9B7C00;}
			
	.success {border: 3px solid #8EA534; background: #CBDA8F url(images/bg_fade_green_med.png) repeat-x top;}
	.success span {color: #8EA534;}
	.success .closestatus a {background: #8EA534;}
	.success .closestatus a:hover {background: #829829;}
			
	.error {border: 3px solid #990000; background: #F5D0CD url(images/bg_fade_red_med.png) repeat-x top;}
	.error span {color: #990000;}
	.error .closestatus a {background: #990000;}
	.error .closestatus a:hover {background: #730D0D;}
	
	.info {border: 3px solid #2FADD7; background: #92D6ED url(images/bg_fade_blue_med.png) repeat-x top;}
	.info span {color: #0E7A9F;}
	.info .closestatus a {background: #2FADD7;}
	.info .closestatus a:hover {background: #228DB0;}
	.simpletb tr td {padding: 0px;}
	.typeblock {
	color: #FFF;
	background-color: #F36;
	padding: 2px 5px;
	text-align: center;
	text-shadow: 1px 1px #333;
	border-radius: 5px;
	}
	.btnblock {
	color: #333;
	background-color: #EEE;
	text-shadow: 1px 1px #ccc;
	border-radius: 5px;
	border: 1px solid #999;
	margin-right: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	}	

	
	/* Footer */
	
	#footer {
	font-size: 12px;
	padding: 15px 10px;
	clear: both;
	background: url(images/bg-footer-pattern.gif);
	margin-bottom: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	text-shadow: 1px 1px 1px #CCC;
	text-align: center;
}
.newsinfo {
	color: #333;
	background-color: #EEE;
	padding: 5px 10px;
	margin: 0px 10px;
	display: block;
	text-align: center;
}
.newsinfo *{
	vertical-align: text-bottom;
}