*{
  bo/rder: 1px solid black;
}

body {
  font-family: Helvetica ;
  font-size: 16px;
  margin-top: 220px;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-family: serif;
  margin: 20px auto;
}

.navbar .navbar-brand h3 {
  background-color: black;
  padding: 1.3vw;
  border-radius: 50% !important;
  border: 5px solid black !important;
  color: white;
  transform: rotate(-1deg);
}

.navbar-brand:hover {
  transform: rotate(1deg);
  scale: 1.05;
  transition: 0.2s;
  text-decoration: none;
}

.carousel-item {
  aspect-ratio: 16 / 6;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.carousel-item img {
  position: absolute;
  top: 50%; /* 將圖片的上邊緣移動到父元素的50%位置 */
  left: 50%; /* 將圖片的左邊緣移動到父元素的50%位置 */
  transform: translate(-50%, -50%); /* 將圖片居中 */
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

#footer h5 {
  text-decoration: underline;
}

.navbar {
  he/ight: 120px;
}

.category-image {
  backdrop-filter: sepia(10%);
}


.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-modal {
  wid/th: 100%;
  he/ight: 100%;
  position: absolute;
  
  
  opa/city: 0
}

.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgba(50,50,10,0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.3s;
}

.card-image img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;

}

.card-modal p {

  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  opacity: 0;
  transition: 0.5s;
  color:white;
  border:1px solid white;

}

.card-image:hover .card-modal p {
  margin-top: 0;
  scale: 1;
  opacity: 1;
  transition: 0.3s;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.ca/rd-image:hover .card-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  transition: 0.3s;
}


.review-image {
  border-radius: 5px !important;
  overflow: hidden;
}

.review-image:hover img {
  scale: 1.05;
  transition: 0.3s;
}

.slideIn {
  opacity: 0;
  transform: translateY(20vh);
  transition: 0.5s;
}
.slideIn.ed {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
}

.slideInLeft {
  transform: translateX(2vw);
  opacity: 1;
  transition: 0.5s;

}
.slideInLeft.ed {
  transform: translateX(0);
  opacity: 1;
  transition: 0.5s;
}

li {
  list-style: none;
}

#search {
  width: 0;
  opacity: 0;
  transition: 0.5s;
}

#search.active {
  width:100%;
  opacity: 1;
}

.product_image {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative; /* 設置為相對定位 */
  overflow: hidden; /* 隱藏溢出部分 */
}

.product_image img {
  position: absolute; /* 設置為絕對定位 */
  top: 50%; /* 將圖片的上邊緣移動到父元素的50%位置 */
  left: 50%; /* 將圖片的左邊緣移動到父元素的50%位置 */
  transform: translate(-50%, -50%); /* 將圖片居中 */
  max-width: 100%; /* 自動調整圖片寬度 */
  he/ight: auto; /* 自動調整圖片高度 */
  object-fit: cover; /* 保持圖片比例並填滿容器 */
}
